
##
*~
~$*
$tf/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
AppPackages/
*.appx
*.appxbundle
*.appxupload
*.aps
artifacts/
ASALocalRun/
# ASP.NET Scaffolding
AutoTest.Net/
.axoCover/*
# AxoCover is a Code Coverage Tool
!.axoCover/settings.json
*.azurePubxml
# Azure Stream Analytics local run output
Backup*/
# Backup folder for Package Reference Convert tool in Visual Studio 2017
# Backup & report files from converting an old project file
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup.rdl
[Bb]in/
[Bb]uild[Ll]og.*
# BeatPulse healthcheck temp database
# because we have git ;-)
BenchmarkDotNet.Artifacts/
# Benchmark Results
*.bim.layout
*.bim_*.settings
*.binlog
# BizTalk build output
bld/
#bower_components/
*.btm.cs
*.btp.cs
*.build.csdef
# Build results
# Build Results of an ATL Project
.builds
BundleArtifacts/
# Business Intelligence projects
# but database connection strings (with potential passwords) will be unencrypted
# but keep track of directories ending in .cache
*.cab
*.cachefile
# Cake - Uncomment if you are using it
!?*.[Cc]ache/
*.[Cc]ache
# checkin your Azure Web App publish settings, but sensitive information contained
_Chutzpah*
# Chutzpah Test files
# Click-Once directory
ClientBin/
# CodeRush personal settings
*.code-workspace
*.coverage
coverage*.info
coverage*.json
*.coveragexml
coverage*.xml
# Coverlet is a free, cross platform Code Coverage Tool
.cr/personal
.*crunch*.local.xml
csx/
*.dbmdl
*.dbproj.schemaview
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.HxC
DocProject/Help/*.HxT
# DocProject is a documentation generator add-in
*.dotCover
# DotCover is a Code Coverage Tool
*.DotSettings.user
*.dsp
*.dsw
*.e2e
ecf/
[Ee]xpress/
# except build/, which is used as an MSBuild target.
.fake/
# FAKE - F# Make
FakesAssemblies/
# Files built by Visual Studio
# files ending in .cache can be ignored
## files generated by popular Visual Studio add-ons.
# Fody - auto-generated XML schema
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
# GhostDoc plugin setting file
*.GhostDoc.xml
*.gpState
# Guidance Automation Toolkit
healthchecksdb
*_h.h
.history/
**/*.HTMLClient/GeneratedArtifacts
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
*_i.c
## Ignore Visual Studio temporary files, build results, and
*.ilk
# Including strong name files can present a security risk
# Installshield output folder
# in these scripts will be unencrypted
*.iobj
.ionide/
# Ionide (cross platform F# VS Code tools) working folder
ipch/
*.ipdb
# JetBrains Rider
*.jfm
*.jmconfig
*.ldf
[Ll]og/
[Ll]ogs/
.localhistory/
# Local History for Visual Studio
# Local History for Visual Studio Code
*.log
*.mdf
*.meta
.mfractor/
# MFractors (Xamarin productivity tool) working folder
# Microsoft Azure Build Output
# Microsoft Azure Emulator
# Microsoft Azure Web App publish settings. Comment the next line if you want to
# Microsoft Fakes
# MightyMoose
MigrationBackup/
*.mm.*
# Mono auto generated files
mono_crash.*
# MSBuild Binary and Structured Log
*.msi
*.msix
*.msm
*.msp
# MSTest test Results
*.ncb
# NCrunch
_NCrunch_*
nCrunchTemp_*
*.ndf
# .NET Core
# Node.js Tools for Visual Studio
node_modules/
# Note: Comment the next line if you want to checkin your web deploy settings,
.ntvs_analysis.dat
# NuGet Packages
*.nuget.props
# NuGet Symbol Packages
*.nuget.targets
# NuGet v3's project.json files produces more ignorable files
# NUnit
nunit-*.xml
*.nupkg
# NVidia Nsight GPU debugger configuration file
*.nvuser
*.obj
*.odx.cs
[Oo]bj/
OpenCover/
# OpenCover UI analysis results
*.opendb
*.opensdf
*.opt
orleans.codegen.cs
# Others
Package.StoreAssociation.xml
# Paket dependency manager
paket-files/
.paket/paket.exe
*_p.c
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
_pkginfo.txt
*.plg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
#!**/[Pp]ackages/repositories.config
*.[Pp]ublish.xml
project.fragment.lock.json
project.lock.json
*.psess
publish/
*.publishproj
PublishScripts/
*.publishsettings
# Publish Web Output
*.pubxml
_Pvt_Extensions
*.pyc
__pycache__/
# Python Tools for Visual Studio (PTVS)
rcf/
*.rdl.data
_ReSharper*/
# ReSharper is a .NET coding add-in
# RIA/Silverlight projects
*.rptproj.bak
*.rptproj.rsuser
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
*.[Rr]e[Ss]harper
*.rsp
*.rsuser
*.sap
.sass-cache/
*.sbr
ScaffoldingReadMe.txt
*.scc
*.sdf
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
ServiceFabricBackup/
# Since there are multiple workflows, uncomment next line to ignore bower_components
*.sln.docstates
*.sln.iml
#*.snk
*.snupkg
# SQL Server files
# StyleCop
StyleCopReport.xml
*.suo
*.svclog
# Tabs Studio
_TeamCity*
# TeamCity is a build add-in
# Telerik's JustMock configuration file
TestResult.xml
# TFS 2012 Local Workspace
# The packages folder can be ignored because of Package Restore
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
# to a newer Visual Studio version. Backup files are not needed,
# tools/**
# !tools/packages.config
*.tss
[Tt]est[Rr]esult*/
# Uncomment if necessary however generally it will be regenerated when needed
# Uncomment if you have tasks that create the project's static files in wwwroot
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/
*.user
*.userosscache
*.userprefs
# User-specific files
# User-specific files (MonoDevelop/Xamarin Studio)
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
# Visual C++ cache files
*.VisualState.xml
# Visual Studio 2015/2017 cache/options directory
# Visual Studio 2017 auto generated files
# Visual Studio 6 auto-generated project file (contains which files were open etc.)
# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
# Visual Studio 6 build log
# Visual Studio 6 technical files
# Visual Studio 6 workspace and project file (working project files containing files to include in project)
# Visual Studio 6 workspace options file
# Visual Studio cache files
# Visual Studio code coverage results
# Visual Studio History (VSHistory) files
# Visual Studio LightSwitch build output
# Visual Studio profiler
# Visual Studio Trace Files
.vs/
.vscode/*
!.vscode/extensions.json
# VS Code files for those working on multiple tools
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vshistory/
*.vsp
*.vspscc
*.vspx
*.vssscc
# Web workbench (sass)
# Windows Installer files from build outputs
# Windows Store app package directories and files
*_wpftmp.csproj
[Ww][Ii][Nn]32/
#wwwroot/
x64/
x86/
*.xsd.cs
